* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.header-section {
  width: 100%;
  /* height: 100px; */
  /* background: #111111; */
  color: white;
  /* padding: 10px; */

}

.contact-section {
  width: 100%;
  height: 50px;
  background: #225e8d;
  padding: 0px 0px 100 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  right: 0;
  z-index: 99;
}

.text-logo {
  width: 200px;
  height: 50px;
  /* background: #1b3f5a; */
  text-align: center;
  border-right: 1px solid #fff;
}

.text-logo span {
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
}

.text-logo span:nth-child(1) {
  color: rgb(33, 210, 30);
}

.text-logo span:nth-child(2) {
  color: rgb(246, 246, 9);
}

.text-logo span:nth-child(3) {
  color: rgb(255, 72, 0);
}

.mobile, .admin-login {
  margin-right: 40px;
}
.humburger {
  margin-right: 25px;
  display: none;
  cursor: pointer;
}
.humburger div {
  width: 20px;
  height: 3px;
  background: #fff;
  margin-bottom: 3px;
}
.cross-outline {
  display: none;
  margin-right: 20px;
  cursor: pointer;
}
.cross-outline div{
  font-size: 25px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  padding: 10px;
}

.logo img {
  width: 100px;
  height: 124px;
}

.clg-details {
  color: #111111;
  line-height: 50px;
}

.clg-details h1 {

  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.clg-details h2 {
  letter-spacing: 10px;
  font-size: 50px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.clg-details h4 {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

hr {
  margin-top: 20px;
  /* padding: 2px; */
  background: #225e8d;
}

.nav-bottom {
  /* padding: 20px; */
  background-color: transparent;
  background-image: linear-gradient(180deg, #CA1D3C 0%, #A4243B 100%);
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding: 10px 10px;
}

nav ul li a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border-right: 1px solid #fff;
}

nav ul li a:hover {
  color: rgb(209, 245, 5);
  transition: 0.3 else;
}

.nav-bottom span {
  color: rgb(209, 245, 5);

}


/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  /* margin: auto; */
  margin-top: 10px;
}

/* Caption text */
.pic-details {
  width: 400px;
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;

  top: 50%;
  left: 40%;
  /* width: 100%; */
  text-align: center;
}

.pic-details h1 {
  font-size: 50px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  /* display: none; */
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

.marquee-text {
  padding: 10px;
  display: flex;
  color: #fff;
  align-items: center;
  padding: 15px 100px;
}

.marquee-container {
  display: flex;
  align-items: center;
  background-image: linear-gradient(180deg, #CA1D3C 0%, #A4243B 100%);
  border-radius: 20px;
  padding: 10px;
}

.text-heading {
  flex-basis: 20%;
}
.text-heading img{
  display: none;
}

.text1 {
  flex-basis: 80%;
}

.text1 img {
  width: 25px;
}

.bg img {
  width: 100%;
  filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.5);
}

.main-links-container {
  width: 100%;
  height: 200px;
  padding: 20px 100px;
}

.main-link-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  color: #111111;
  width: 150px;
  height: 150px;
  margin: 10px;
  text-align: center;
  background: linear-gradient(180deg, #FFE1E6 0%, #D4E7FD 100%);
  background-color: transparent;
  padding: 10px 5px 10px 5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #f5f5f5;
  border-radius: 20px 0px 20px 0px;
  cursor: pointer;
}
.box a{
  color: #111111;
  cursor: pointer;
}
.box:hover {
  /* width: 150px;
  height: 150px;
  margin: 10px;
  text-align: center;
  background: linear-gradient(180deg, #FFE1E6 0%, #D4E7FD 100%);
  background-color: transparent;
  padding: 10px 5px 10px 5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #f5f5f5; */
  border-radius: 0px 20px 0px 20px;
  background: crimson;
  color: #fff;
  transition: 0.3 else-out;
}

.box img {
  width: 100px;
}

.anti-ragging-cell img {
  width: 150px;
}

.student-login img {
  width: 160px;
}

.box p {
  font-size: 16px;
  font-weight: 800;
}

.welcome {
  width: 100%;
  text-align: center;
  padding: 50px;
}

.welcome h1 {
  /* color: #6EC1E400; */
  font-family: "Roboto Slab", Sans-serif;
  /* font-size: 60px; */
  font-weight: 700;
}

.home {
  position: relative;
}

.home-text {
  position: absolute;
  top: 10%;
  left: 20%;
}

.home-text h1 {
  color: aqua;
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: sans-serif;
}

.home-section {
  width: 100%;
  height: 500px;
  background: url(../images/download.png);
  filter: blur(px);
  background-color: rgb(0, 0, 0);
  background-size: cover;
}



.about-scetion {
  width: 100%;
  /* height: 500px; */
  background: #fff9e7;
  padding: 20px 0px;
  background-image: url(../images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

.about-scetion .title {
  padding: 15px;
  text-align: center;
  font-weight: 700;
  font-family: sans-serif;
  position: relative;
  margin: 20px;
}

.about-scetion .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: crimson;
  transform: translateX(-50%);
}

.about-scetion .title::after {
  content: "Who is this";
  position: absolute;
  bottom: -4px;
  left: 50%;
  font-size: 10px;
  color: crimson;
  padding: 0 5px;
  background: #fff9e7;
  transform: translateX(-50%);
}

.about-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

.about-text {
  flex-basis: 50%;
}

.about-text p {
  line-height: 24px;
  font-size: 20px;
}

.about-text h1 {
  color: green;
  font-family: sans-serif;
  font-weight: 600;
  margin-bottom: 40px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.button {
  padding-top: 30px;
}

.btn {
  font-weight: 600;
  font-family: sans-serif;
  width: 100px;
  height: 40px;
  background: crimson;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  border: 2px solid crimson;
  color: crimson;
  background: #fff;
}

.about-image {
  flex-basis: 50%;
}

.about-image img {
  height: 400px;
  border-radius: 50px 0 50px 0;
}

/*==================================
      Course  SECTION CSS START
 ===================================*/
 .course-section {
  padding: 10px;
  overflow: hidden;
  
 }
 .course-section .course-title{
  padding: 15px;
  text-align: center;
  font-weight: 700;
  font-family: sans-serif;
  position: relative;
  margin: 20px;
 }
 .course-section h1::before{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 180px;
  height: 3px;
  background: crimson;
  transform: translateX(-50%);
 }
 .course-section h1::after{
  content: "Focus Your Career";
  position: absolute;
  bottom: -4px;
  left: 50%;
  font-size: 10px;
  color: crimson;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
 }
 .course-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5%;
 }
 .cst {
  flex-basis: 30%;
  width: 100px;
  padding-bottom: 50px;
  box-shadow: 20px 20px 50px gray;
  border-radius: 20px;
  position: relative;
  
 }
 .me {
  flex-basis: 30%;
  width: 100px;
  padding-bottom: 50px;
  box-shadow: 20px 20px 50px gray;
  border-radius: 20px;
 }
 .che {
  flex-basis: 30%;
  width: 100px;
  padding-bottom: 50px;
  box-shadow: 20px 20px 50px gray;
  border-radius: 20px;
 }
 .course-details h2{
  color: crimson;
  text-align: center;
  margin-bottom: 30px;
 }
 .course-details p{
  margin-left: 20px;
  margin-bottom: 5px;
 }
 .course-image {
  width: 100%;
  text-align: center;
  margin: 20px 0px;
  
 }
 .course-image img {
  height: 200px;
  border-radius: 10px;
  width: 90%;
  transition: all 0.5s linear;
  
 }
 .course-button {
  text-align: center;
  margin-top: 50px;
 }
 .course-button .btn {
  font-weight: 600;
  font-family: sans-serif;
  width: 100px;
  height: 40px;
  background: crimson;
  padding: 15px 50px;
  border-radius: 5px;
  cursor: pointer;
}

.course-button .btn:hover {
  border: 2px solid crimson;
  color: crimson;
  background: #fff;
}

/*=========================
   NOTICE SECTION CSS START
 =========================*/

 .notice {
  width: 100%;
  height: 700px;
}
.notice_heading{
  padding: 45px;
}
.notice_details p  {
  margin: 15px 10px 0 10px;
  padding: 0 10px 15px 10px;
  border-bottom: 1px dashed #888;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: yellow;
  font-weight: 600;
}
.notice_details p a {
  color: blue;
  text-decoration: none;
  align-items: center;
}
.notice_details marquee {
  width: 100%;
  height: 440px;
}
.notice_details img {
  width: 20px;
  /* height: 30px; */
  /* height: 350px; */
}
.notice_heading h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  background: blue;
  width: 315px;
  color: white;
  margin: auto;
}
.programme_notice_details {
  display: flex;
  align-items: center;
  overflow: hidden;
  color: #fff;
}
.programme_notice_details_p p {
  font-size: 14px;
  color: blue;
  font-weight: 600;
}
.programme_notice_time {
  width: 50px;
  height: 50px;
  background: #d800ff;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.notice_news {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
  padding: 10px;
}
.notice_news .general_notice{
  /* width: 33%; */
  flex-basis: 33%;
  height: 500px;
  border: 1px solid grey;
}
.col-1{ 
  width: 100%;
  height: 40px;
  background: #d800ff;
}
.col-2{
  border-bottom: 10px solid #28a745;
}
.col-1 h1{
  color: #fff;
  text-align: center;
  font-size: 25px;
  padding: 4px;
  /* border-bottom: 10px solid #28a745; */
}

.notice_news .programme_notice{
  /* width: 33%; */
  flex-basis: 33%;
  height: 500px;
  border: 1px solid grey;
}
.notice_news .library_notice{
  /* width: 33%; */
  flex-basis: 33%;
  height: 500px;
  border: 1px solid grey;
}
.gallery-section{
  padding: 10px;
}
.gallery-section h1{
  padding: 15px;
  text-align: center;
  font-weight: 700;
  font-family: sans-serif;
  position: relative;
  margin: 20px;
 }
 .gallery-section h1::before{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 180px;
  height: 3px;
  background: crimson;
  transform: translateX(-50%);
 }
 .gallery-section h1::after{
  content: "Show Off";
  position: absolute;
  bottom: -4px;
  left: 50%;
  font-size: 10px;
  color: crimson;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
 }
.gallery-cotainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.gallery-cotainer img{
  width: 450px;
  height: 300px;
  border: 2px solid #ff3d0036;
  box-shadow: 4px 7px 7px 0px #00000042;
  cursor: pointer;
  margin: 20px;
  transition: 400ms;
  border-radius: 20px;
}
.gallery-cotainer img:hover{
  transform: scale(1.03);
}



.footer_section{
  width: 100%;
  /* height: 400px; */
  padding: 50px;
  background: #2f2f2f;
  background-image: url(../images/dream-bg.png);
 
  background-repeat: no-repeat;
  background-position: right;
}
.footer_container {
  
  display: flex;
  justify-content: space-between;
}
.get_in_touch {
  width: 50%;
}
.get_in_touch h2 {
  color: crimson;
  font-size: 25px;
  margin-left: 20px;
}
.get_in_touch .address,.ph,.email {
  color: #fff;
  color: #fff;
  font-size: 15px;
  line-height: 2rem;
  padding: 10px;
  font-weight: bolder;
}
.address i {
  padding: 10px;
}
.ph i {
  padding: 10px;
}
.email i {
  padding: 10px;
}
.links {
  width: 33%;
}
.links h2{
  color: crimson;
  font-size: 25px;
}
.links li {
  list-style: none;
}
.links li i{
  color: #fff;
}
.links li a{
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  line-height: 2rem;
  padding: 10px;
  font-weight: bolder;
}
.links li a:hover{
  color: crimson;
  border-bottom: 1px solid crimson;
  transition: 0.3s;
}

.social_links {
  width: 33%;
  display: flex;
  flex-direction: column;
  /* border-right: 2px solid red; */
}
.social_links h2{
  color: crimson;
  font-size: 25px;
  margin-left: 15px;
}
.social_links i{
   color: #fff;
   padding: 5px;
}
.social_links a{
  text-decoration: none;
   color: #fff;
  font-size: 15px;
  /* line-height: 2rem; */
  padding: 10px;
  font-weight: bolder;
}
.social_links a:hover{
  color: crimson;
  /* border-bottom: 1px solid crimson; */
  transition: 0.3s;
}
.border1 {
  width: 90%;
  text-align: center;
  margin-left: 5%;
  font-size: 100px;
  color: blue;
  line-height: 10rem;
  margin-top: 70px;
}
.copyrigt_section {
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
.copyrigt_section a{
  color: crimson;
  text-decoration: none;
  cursor: pointer;
}
.copyrigt_section a:hover{
  color: greenyellow;
  
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


@media only screen and (max-width: 637px) {
  .header-section {
    width: 100%;
    position: relative;
  }
  .contact-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .text-logo span {
    font-size: 30px;
  }
  .email, .mobile, .admin-login{
    display: none;
  }
  .humburger {
    display: block;
  }
  .logo img {
    height: 100px;
  }
 .clg-details{
  line-height: 30px;
 }
 .clg-details h1 {
  font-size: 20px;
 }
 .clg-details h2 {
  font-size: 20px;
  letter-spacing: 0px;
 }
 .nav-bottom {
  width: 100%;
  height: 100vh;
  bottom: 20;
  left: 0;
  position: absolute;
  display: none;
 }
 nav ul {
  padding: 70px;
  flex-direction: column;
  height: auto;
  align-items: center;
  justify-content: center;
}
 nav ul li {
  margin-top: 10px;
  padding: 10px;
}
 nav ul li a{
  margin-top: 10px;
  border: none;
  padding: 10px;
}
 nav ul li a:hover{
  border-bottom: 2px solid #fff;
}
 .home-section {
  width: 100%;
  background-position: center;
  background-size: cover;
 }
 .marquee-text{
  padding: 2px;
  border-radius: none;
 }
 .text-heading p {
  display: none;
 }
 .text-heading img {
  display: block;
 }
 .main-links-container{
  margin: 0;
  padding: 0;
  display: none;
  flex-wrap: wrap;
 }
 .main-link-content .box{
  margin: 0;
  padding: 0;
 }
 .animate-charcter
{
   text-align: center;
  font-size: 30px;
}
 .about-scetion {
  width: 100%;
 }
 .about-container {
  flex-direction: column-reverse;
  text-align: center;
 }
 .about-image {
  text-align: center;
 }
 .about-image img {
  width: 90%;
  height: 250px;
  margin-bottom: 20px;
 }
 .course-container {
  flex-direction: column;
 }
 .course-container .cst, .me, .che{
  width: 100%;
  height: 1000px;
  padding-bottom: 50px;
  margin-bottom: 50px;
 }
 .gallery-cotainer{
  text-align: center;
 }
 .gallery-cotainer img{
  width: 90%;
 }
 .notice_news {
  width: 80%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.general_notice{
  width: 100%;
}
.programme_notice {
  width: 100%;
}
.general_notice, .programme_notice {

  margin-bottom: 30px;
}

.footer_section{
  margin-top: 1000px;
}
.footer_container {
  /* flex-direction: column; */
}
.links h2{
  font-size: 15px;
}
.links li a{
  font-size: 10px;
  padding: 5px;
}
.copyrigt_section {
  font-size: 10px;
}
.social_links h2{
  font-size: 15px;
}
.social_links a{
  text-decoration: none;
   color: #fff;
  font-size: 10px;
  padding: 5px;
}
.get_in_touch h2 {
  font-size: 10px;
}
.get_in_touch .address,.ph,.email {
  font-size: 10px;
  line-height: 12px;
}
}